<section class="app-container py-8 space-y-5">
  <%= turbo_frame_tag "new_quest" do %>
    <%= form_with model: @quest_item, local: true, class: "flex" do |form| %>
      <%= form.text_field :name, class: 'input', placeholder: 'Your New Quest', id: 'quest-item-name' %>
      <%= form.submit 'Create Quest', class: 'btn btn-primary', id: 'create-quest-button' %>
      <%= link_to 'Cancel', quest_items_path, class: 'btn btn-outline' %>
    <% end %>
  <% end %>
</section>